openapi: 3.2.0
info:
  title: Coralogix Dashboards API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 13 operation(s) read from 10 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Coralogix has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 5
    documentation: 8
    pages-with-code: 1
    pages-read: 10
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://coralogix.com/docs/dataprime/API/direct-archive-query-http
  - https://coralogix.com/docs/api-reference/v5/actions-service/get-action
  - https://coralogix.com/docs/api-reference/v5/dashboard-service/overview
  - https://coralogix.com/docs/api-reference/v5/actions-service/list-actions
  - https://coralogix.com/docs/api-reference/v5/api-keys-service/get-api-key
  - https://coralogix.com/docs/api-reference/v5/actions-service/create-action
  - https://coralogix.com/docs/api-reference/v5/actions-service/delete-action
  - https://coralogix.com/docs/api-reference/v5/actions-service/order-actions
  - https://coralogix.com/docs/api-reference/v5/api-keys-service/get-api-keys
  - https://coralogix.com/docs/api-reference/v5/actions-service/replace-action
servers:
- url: https://api.eu2.coralogix.com
security:
- bearer: []
tags:
- name: Dashboards
paths:
  /dashboards/dashboards/v1:
    post:
      operationId: post_dashboards_dashboards_v1
      tags:
      - Dashboards
      summary: Create a new dashboard
      x-source: https://coralogix.com/docs/api-reference/v5/dashboard-service/overview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDashboardsDashboardsV1Request'
      responses:
        '201':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostDashboardsDashboardsV1Response'
      x-evidence:
        kind: documentation
    put:
      operationId: put_dashboards_dashboards_v1
      tags:
      - Dashboards
      summary: Replace a dashboard
      x-source: https://coralogix.com/docs/api-reference/v5/dashboard-service/overview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDashboardsDashboardsV1Request'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutDashboardsDashboardsV1Response'
      x-evidence:
        kind: documentation
  /dashboards/dashboards/v1/slugs/{slug}:
    get:
      operationId: get_dashboards_dashboards_v1_slugs_slug
      tags:
      - Dashboards
      summary: Get a dashboard by URL slug
      x-source: https://coralogix.com/docs/api-reference/v5/dashboard-service/overview
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDashboardsDashboardsV1SlugsSlugResponse'
      x-evidence:
        kind: documentation
  /dashboards/dashboards/v1/{dashboardId}:
    get:
      operationId: get_dashboards_dashboards_v1_dashboardId
      tags:
      - Dashboards
      summary: Get a dashboard
      x-source: https://coralogix.com/docs/api-reference/v5/dashboard-service/overview
      parameters:
      - name: dashboardId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDashboardsDashboardsV1DashboardidResponse'
      x-evidence:
        kind: documentation
  /dashboards/dashboards/v1/{dashboardId}/default:
    put:
      operationId: put_dashboards_dashboards_v1_dashboardId_default
      tags:
      - Dashboards
      summary: Replace the default dashboard
      x-source: https://coralogix.com/docs/api-reference/v5/dashboard-service/overview
      parameters:
      - name: dashboardId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDashboardsDashboardsV1DashboardidDefaultRequest'
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /dashboards/dashboards/v1/{dashboardId}/folder:
    post:
      operationId: post_dashboards_dashboards_v1_dashboardId_folder
      tags:
      - Dashboards
      summary: Assign a dashboard to a folder
      x-source: https://coralogix.com/docs/api-reference/v5/dashboard-service/overview
      parameters:
      - name: dashboardId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDashboardsDashboardsV1DashboardidFolderRequest'
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /dashboards/pinned/v1/{dashboardId}:
    put:
      operationId: put_dashboards_pinned_v1_dashboardId
      tags:
      - Dashboards
      summary: Add dashboard to favorites
      x-source: https://coralogix.com/docs/api-reference/v5/dashboard-service/overview
      parameters:
      - name: dashboardId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /dashboards/{dashboardid}/v1/{dashboardId}:
    delete:
      operationId: delete_dashboards_dashboardid_v1_dashboardId
      tags:
      - Dashboards
      summary: Delete a dashboard
      x-source: https://coralogix.com/docs/api-reference/v5/dashboard-service/overview
      parameters:
      - name: dashboardid
        in: path
        required: true
        schema:
          type: string
      - name: dashboardId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at dashboardId
components:
  schemas:
    GetDashboardsDashboardsV1DashboardidResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        slug_name:
          type: string
        layout:
          type: object
        variables_v2:
          type: array
        variables:
          type: array
        filters:
          type: array
        annotations:
          type: array
        actions:
          type: array
        folder_id:
          type: string
        folder_path:
          type: string
        time_frame:
          type: object
        auto_refresh:
          type: string
    PostDashboardsDashboardsV1Request:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        slug_name:
          type: string
        layout:
          type: object
        variables_v2:
          type: array
        variables:
          type: array
        filters:
          type: array
        annotations:
          type: array
        actions:
          type: array
        folder_id:
          type: string
        folder_path:
          type: string
        time_frame:
          type: object
        auto_refresh:
          type: string
      required:
      - name
      - layout
    PutDashboardsDashboardsV1Request:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        slug_name:
          type: string
        layout:
          type: object
        variables_v2:
          type: array
        variables:
          type: array
        filters:
          type: array
        annotations:
          type: array
        actions:
          type: array
        folder_id:
          type: string
        folder_path:
          type: string
        time_frame:
          type: object
        auto_refresh:
          type: string
      required:
      - id
      - name
      - layout
    PutDashboardsDashboardsV1DashboardidDefaultRequest:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        layout:
          type: object
      required:
      - id
      - name
      - layout
    PostDashboardsDashboardsV1Response:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        slug_name:
          type: string
        layout:
          type: object
        variables_v2:
          type: array
        variables:
          type: array
        filters:
          type: array
        annotations:
          type: array
        actions:
          type: array
        folder_id:
          type: string
        folder_path:
          type: string
        time_frame:
          type: object
        auto_refresh:
          type: string
    GetDashboardsDashboardsV1SlugsSlugResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        slug_name:
          type: string
        layout:
          type: object
        variables_v2:
          type: array
        variables:
          type: array
        filters:
          type: array
        annotations:
          type: array
        actions:
          type: array
        folder_id:
          type: string
        folder_path:
          type: string
        time_frame:
          type: object
        auto_refresh:
          type: string
    PutDashboardsDashboardsV1Response:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        slug_name:
          type: string
        layout:
          type: object
        variables_v2:
          type: array
        variables:
          type: array
        filters:
          type: array
        annotations:
          type: array
        actions:
          type: array
        folder_id:
          type: string
        folder_path:
          type: string
        time_frame:
          type: object
        auto_refresh:
          type: string
    PostDashboardsDashboardsV1DashboardidFolderRequest:
      type: object
      properties:
        folder_id:
          type: string
        folder_path:
          type: string
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
